<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chen.music">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.chen.base.debug.DebugApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/music_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:label,android:icon,android:theme,android:allowBackup">

        <meta-data
            android:name="android.notch_support"
            android:value="true" />

        <!-- 解决9.0不支持http请求 -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name="com.chen.music.debug.DebugActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.chen.music.activity.DetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <service android:name=".player.PlaybackService">
            <intent-filter>
                <action android:name="com.chen.music.ACTION.PLAY_TOGGLE" />
                <action android:name="com.chen.music.ACTION.PLAY_NEXT" />
                <action android:name="com.chen.music.ACTION.PLAY_LAST" />
                <action android:name="com.chen.music.ACTION.STOP_SERVICE" />
            </intent-filter>
        </service>
    </application>

</manifest>